<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @destination.name %>
</p>

<%= image_tag @destination.picture.url %>

<p>
  <b>Description:</b>
  <%= @destination.description %>
</p>

<p>
  <b>Location:</b>
  <%= @destination.location %>
</p>

<p>
  <b>Rating:</b>
  <%= @destination.rating %>
</p>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=New+York,+NY&amp;aq=0&amp;oq=new+york&amp;sll=40.697488,-73.979681&amp;sspn=0.630955,1.128845&amp;ie=UTF8&amp;hq=&amp;hnear=New+York&amp;ll=40.697299,-73.979187&amp;spn=0.630797,1.128845&amp;t=m&amp;z=10&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=New+York,+NY&amp;aq=0&amp;oq=new+york&amp;sll=40.697488,-73.979681&amp;sspn=0.630955,1.128845&amp;ie=UTF8&amp;hq=&amp;hnear=New+York&amp;ll=40.697299,-73.979187&amp;spn=0.630797,1.128845&amp;t=m&amp;z=10" style="color:#0000FF;text-align:left">View Larger Map</a></small>

<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>
